body {
  margin: 0;
  font-family:'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/cool-background.svg);
  background-size: cover;
}
.formulario2 {


  max-width: 600px;
  margin: 0 auto;
  padding: 80px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login , .formulario , .detalles, .productos{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}


h1, h2 {
  color: #117ab7;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input, select {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

